In [5]:
import pandas as pd

#### Read CSV

In [6]:
df_people = pd.read_csv("PAD_03_PD.csv", sep=";")

#### Show Country counts

In [7]:
df_people['Country'].value_counts()

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

#### In new column 'owned_goods' show amount of goods

In [8]:
df_people['owned_goods'] = df_people['owns_car'] + df_people['owns_TV'] + df_people['owns_house'] + df_people['owns_Phone']
df_people

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0
...,...,...,...,...,...,...,...,...,...
795,796,B,0.0,0.0,0.0,1,K,28,1.0
796,797,B,0.0,0.0,0.0,1,M,26,1.0
797,798,A,0.0,0.0,0.0,1,M,61,1.0
798,799,B,0.0,1.0,0.0,1,K,47,2.0
799,800,B,0.0,1.0,0.0,1,K,51,2.0

#### Compare average of owned goods between K and M, round to 2

In [9]:
print(df_people.groupby('gender').aggregate(
    {'owned_goods': ['mean']}
).round(2))

       owned_goods
              mean
gender
K             2.80
M             0.89

#### Create DF with first column COUNTRY, second average owned goods per country (round to 2), and third minimum age

In [10]:
df_people_analysis = pd.DataFrame()
df_people_analysis = df_people.groupby('Country').aggregate(
    {
        'owned_goods': ['mean'],
        'Age': 'min'
    }
).round(2)

df_people_analysis.rename(columns={
    'Country': "COUNTRY",
    'Age': 'min_age'
})

df_people_analysis

        owned_goods Age
               mean min
Country
A              0.86  18
B              1.46  18
C              3.03  18
D              4.00  18